################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CronExpParser/obj
/CronExpParser/bin/Debug/net6.0
/.vs/CronExpParser
/.vs/ProjectEvaluation
/CronExpParserTests/bin/Debug/net6.0
/CronExpParserTests/obj
